 {{>head title='clientes'}}
{{>nav}}

<br>
 <div style="width: 30%; margin-left:1%;">
    <a href="/clientes/create"> <button type="button" class="btn btn-primary">Registrar</button></a>
 
    <form action="/clientes/buscar/{{title._id}}" method="post" >
       <br>
       
        <input type="text" name="id" class="form-control" placeholder="Buscar...">
       
    <button class="btn btn-primary">Buscar</button>

    </form>
    </div>

     <div style="width: 95%; height:600px; margin-left:1%; overflow-y:scroll; overflow-x:hidden;">
        <table class="table table-striped">
            <tr>
                <th scope="col">Id</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Acccion</th>
            </tr>
            <tbody>
           

                
                    <tr>
                        <td scope="row">{{title._id}}</td>
                        <td>{{title.dni}}</td>
                        <td>{{title.name}}</td>
                        <td>{{title.lastname}}</td>
                        <td>{{title.telephone}}</td>
                        <td>{{title.address}}</td>
                        <td>{{title.email}}</td>

                        <td>
                            <a href="/clientes/update/{{title._id}}"><button type="button" class="btn btn-primary">Actualizar</button></a>
                        </td>
                        <td>
                           <a href="/clientes/eliminar/{{title._id}}"> <button type="button" class="btn btn-danger">Eliminar</button></a>
                        </td>
                    </tr>
                     
             
               
            
            </tbody>
        </table>
        </div>

        {{>footer}}