 {{>head title='Actualizar Compras'}}
{{>nav}}
              <div style="width: 30%; margin:auto;  padding:1%;">
                <h1>Actualizar Compras</h1>
                <form action="in/{{title._id}}" method="POST">
                <div class="mb-3">
                    
                  <label for="id" class="form-label">Id</label>
                  <input type="text" class="form-control" id="id" aria-describedby="emailHelp"  value="{{title._id}}" disabled>
            
                </div>
                <div class="mb-3">
                  <label for="proveedor" class="form-label">Proveedor</label>
                  <input type="text" class="form-control" id="proveedor" name="proveedor" value="{{title.supplier}}">
                </div>

                 <div class="mb-3">
                  <label for="cantidad" class="form-label">Cantidad</label>
                  <input type="number" class="form-control" id="cantidad" name="cantidad" value="{{title.amount}}">
                </div>

                

                    <div class="mb-3">
                  <label for="total" class="form-label">Total</label>
                  <input type="number" class="form-control" id="total" name="total" value="{{title.total}}">
                </div>

                <button class="btn btn-primary">Actualizar</button>

                </form>
                </div>

        {{>footer}}