{{>head title='Ventas'}}
{{>nav}}
<br>
<br>

<div class="container-fluid" style="width: 65%; margin-left: 14%">
    <form class="d-flex" action="/detalles/searching/{{title.id}}" method="POST">
        <input class="form-control me-2" name="id" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary">Search</button>
        <a href="/detalles/insert"><button type="button" style="margin-left: 100%;" class="btn btn-primary mr-2" >Register</button></a>

    </form>
</div>

<br>

<div style="width: 70%; height:600px; margin-left:15%; overflow-y:scroll; overflow-x:hidden;">
    <table class="table table-striped">
    
    <tr>
        <th scope="col">Id</th>
        <th>Método Pago</th>
        <th>Detalles</th>
        <th>Subtotal</th>
        <th>IVA</th>
        <th>Acción</th>
        <th></th>
    </tr>
<tbody>
                       
{{#each title}}
                
    <tr>
        <td scope="row">{{_id}}</td>
        <td>{{metodopago}}</td>
        <td>{{detalle}}</td>
        <td>{{subtotal}}</td>
        <td>{{iva}}</td>
        <td>
            <a href="/detalles/update/{{_id}}"><button type="button" class="btn btn-primary">Update</button></a>
        </td>
        
        <td>
            <a href="/detalles/eliminar/{{_id}}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
                     
{{/each}}
                    
</tbody>
</table>
</div>

{{>footer}}