{{>head title='Ventas'}}
{{>nav}}
<br>
<br>

<div style="width: 70%; height:600px; margin-left:15%; overflow-x:hidden;">
    <table class="table table-striped">
    
    <tr>
        <th scope="col">Id</th>
        <th>Método Pago</th>
        <th>Detalles</th>
        <th>Subtotal</th>
        <th>IVA</th>
        <th>Acción</th>
        <th></th>
    </tr>
<tbody>
                       
{{#each title}}
                
    <tr>
        <td scope="row">{{_id}}</td>
        <td>{{metodopago}}</td>
        <td>{{detalle}}</td>
        <td>{{subtotal}}</td>
        <td>{{iva}}</td>
        {{#each $tiendas}}
        {{/each}}
        <td>
            <a href="/detalles/update/{{_id}}"><button type="button" class="btn btn-primary">Update</button></a>
        </td>
        
        <td>
            <a href="/detalles/eliminar/{{_id}}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    </tr>    
                     
{{/each}}
                    
</tbody>
</table>
</div>