{{>head title='Insumos'}}
{{>nav}}
<div style="width: 70%; height:600px; margin-left:15%; overflow-y:scroll; overflow-x:hidden;">
        <table class="table table-striped">
             <tr>
                <th scope="col">Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Proveedor</th>
                <th>Estado</th>
            
            </tr>
            <tbody>
           
               {{#each title}}
                    <tr>
                        <td scope="row">{{_id}}</td>
                        <td>{{nombre}}</td>
                        <td>{{precio}}</td>
                        <td>{{cantidad}}</td>
                        <td>{{proveedor}}</td>
                        <td>{{estado}}</td>
                        {{#each Costo_insumo}}
                        <td>{{Costo_insumo}}</td>
                        {{/each}}
                       
                        <td>
                        <a href="/insumos/update/{{_id}}"><button type="button" class="btn btn-primary">Actualizar</button></a>
                        </td>
                        <td>
                           <a href="/insumos/eliminar/{{_id}}"> <button type="button" class="btn btn-danger">Eliminar</button></a>
                        </td>
                    </tr>
                     
               
             {{/each}}
               
            
            </tbody>
        </table>
        </div>

{{>footer}}