 {{>head title='Usuarios'}}
 {{>nav}}



 <div style="width: 70%; height:600px; margin-left:15%; overflow-y:scroll; overflow-x:hidden;">
    <form action="usuarios/buscar/{{title._id}}" method="post">
<input type="text" name="id">
<button>Buscar</button>

</form>
        <table class="table table-striped">
            <tr>
                <th scope="col">Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Ubicacion</th>
                <th>Estado</th>
                <th>Acccion</th>
            </tr>
            <tbody>
           
             
                {{#each title}}
                
                    <tr>
                        <td scope="row">{{_id}}</td>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{age}}</td>
                        <td>{{address}}</td>
                        <td>{{activo}}</td>
                        <td>
                            <a href="/usuarios/update/{{_id}}"><button type="button" class="btn btn-primary">Actualizar</button></a>
                        </td>
                        <td>
                           <a href="/usuarios/eliminar/{{_id}}"> <button type="button" class="btn btn-danger">Eliminar</button></a>
                        </td>
                    </tr>
                     
                {{/each}}
             
               
            
            </tbody>
        </table>
        </div>

        {{>footer}}